<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="stylesheet" href="/form.css">
</head>
<body>
    <nav>
        <img src="/img/sneakers.png" alt="">
    </nav>
    <div class="container" style="margin-top: 10vh;">
        <form action="/signup" method="post">
            <h1>Login</h1>
            <input type="text" name="username" id="name" placeholder="Enter your username" required>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            <input type="tel" name="tel" id="tel" placeholder="Enter your number" required>
            <input type="password" name="password" id="password" placeholder="Create a new password" required>
            
            <button type="submit">Sign up</button>
        </form>
        <% if(errorMessage) { %>
            <p class="error-message" style="color: red;"><%= errorMessage %></p>
        <% } %>
        <p>Already have an account? <a href="/">Sign in</a></p>
    </div>
</body>
</html>